
<img src="https://pp.userapi.com/c638920/v638920896/284bf/iwqVl73uG9Q.jpg", width="200" />
<div>    
    <p>Мельников Б.В. группа 6.04.51.13.02</p>
</div>

<tr>
    <img src="https://pp.userapi.com/c626727/v626727653/2e102/B950wRjf3ZE.jpg", width="200" />
    <p>Калиниченко А.С. группа 6.04.51.13.02</p>
</tr>